

.card {
    display: flex;
    height: 158px;
    width: 680px;
    border-radius: 79px;
    background-color: #ffff;
    margin-top: 130px;
    margin-left: 380px;
}

.podCard {
    height: 41px;
width: 187px;
background-color: #ffff;
border-radius: 0px 0px 30px 30px;
margin-left: 620px;
margin-top: -20px;
}

.text {
    font-family: Geometria;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
}

.burger {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 19px;
}

.five {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 10px;
}

.resp {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 10px;
}

.megafon {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 10px;
}

.megafon1 {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 10px;
}

.card1 {
    display: flex;
    height: 158px;
    width: 420px;
    margin-top: 81px;
    margin-left: 279px;
    border-radius: 79px;
    background-color: #ffff;
}

.podCard1 {
    height: 41px;
width: 187px;
background-color: #ffff;
border-radius: 0px 0px 30px 30px;
margin-left: 395px;
margin-top: -20px;
}

.card2 {
    display: flex;
    height: 158px;
    width: 420px;
    margin-top: -192px;
    margin-left: 750px;
    border-radius: 79px;
    background-color: #ffff;
}

.podCard2 {
    height: 41px;
    width: 187px;
    background-color: #ffff;
    border-radius: 0px 0px 30px 30px;
    margin-left: 870px;
    margin-top: -20px;
}

.card3 {
    display: flex;
    height: 158px;
    width: 680px;
    border-radius: 79px;
    background-color: #ffff;
    margin-top: 40px;
    margin-left: 380px;
}

.podCard3 {
    height: 34px;
    width: 327px;
    background-color: #ffff;
    border-radius: 0px 0px 30px 30px;
    margin-left: 560px;
    margin-top: -20px;
}

.five1 {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 19px;
}

.health {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 12px;
}

.lit {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 12px;
}


.ozon {
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-left: 19px;
}

.tez {
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-left: 10px;
}

.booking {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 10px;
}

.sber {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 10px;
}

.trip {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 10px;
}

.dishes {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 10px;
}

.lamoda {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 14px;
}

.toys {
    width: 120px;
    height: 120px;
    margin-top: 19px;
    margin-left: 14px;
}


@media (min-width: 320px) and (max-width: 1220px) {
    .card {
        display: flex;
        height: 220px;
        width: 340px;
        border-radius: 59px;
        background-color: #ffff;
        margin-top: 130px;
        margin-left: 30px;
    }
    .megafon {
        width: 100px;
        height: 100px;
        margin-top: 110px;
        margin-left: -270px;
    }
    .megafon1 {
        width: 100px;
        height: 100px;
        margin-top: 110px;
        margin-left: 20px;
    }
    .burger {
        width: 100px;
        height: 100px;
        margin-top: 19px;
        margin-left: 4px;
    }
    .five {
        width: 100px;
        height: 100px;
        margin-top: 19px;
        margin-left: 10px;
    }
    
    .resp {
        width: 100px;
        height: 100px;
        margin-top: 19px;
        margin-left: 10px;
    }
    .podCard {
        height: 41px;
        width: 187px;
    background-color: #ffff;
    border-radius: 0px 0px 30px 30px;
    margin-left: 108px;
    margin-top: -20px;
    }

    .card1 {
        height: 258px;
        width: 280px;
        margin-top: 81px;
        margin-left: 39px;
        border-radius: 39px;
        background-color: #ffff;
    }

    .lit {
        width: 120px;
        height: 120px;
        margin-top: 129px;
        margin-left: -190px;
    }
    .podCard1 {
    margin-left: 85px;
    }

    .card2 {
        height: 258px;
        width: 280px;
        margin-top: 42px;
        margin-left: 30px;
        border-radius: 39px;
    }

    .toys {
        width: 120px;
        height: 120px;
        margin-top: 129px;
        margin-left: -190px;
    }
    .podCard2 {
        margin-left: 75px;
    }

    .card3 {
        height: 358px;
        width: 280px;
        border-radius: 39px;
        background-color: #ffff;
        margin-top: 40px;
        margin-left: 40px;
    }
    .booking {
        margin-top: 120px;
        margin-left: -185px;
    }

    .sber {
        margin-top: 230px;
        margin-left: -188px;
    }
    
    .trip {
        margin-top: 230px;
        margin-left: 12px;
    }

    .podCard3 {
        height: 34px;
        width: 227px;
        margin-left: 62px;
    }
}