.App {
  height: 2634px;
  /* width: 100%; */
  height: 100%;
  width: 1440px;
  background-color:#F2F4F7;
}



@media (min-width: 320px) and (max-width: 1220px) {
  .App {
    height: 7034px;
    /* width: 100%; */
    height: 100%;
    width: 1040px;
  } 
}
